@media screen and (min-width: 750px) {
  #welcome-section h1{
    font-size: 40px;
  }
  #welcome-section h2{
    font-size: 25px;
  }
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #291720;
  text-align: center;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #04A777;

}
#navbar{
    position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  background: white;
  justify-content: center;
  z-index: 1;
}
#navbar a{
  padding: 15px 10px;
}
#navbar a:hover{
    background: #04A777;
  color: white;
}
#welcome-section{
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#welcome-section h2{
  font-size: 16px;
  margin: 0px;
  color: #04A777;
  font-weight: 100;
}
#projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  display: center;
  background: black;
}
#projects h2{
  color: white;
  padding: 50px 0px 50px 0px;
}
.portfolio-preview{
  width: 50%;
}
.project-tile img{
  padding: 30px 0px 0px 0px;
  	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project-tile:hover img{
  color: white;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.project-tile a:hover{
  color: white;
}
.see-more-btn{
  width: 25%;
  padding: 5%;
  margin: 50px 0px 50px 0px;
}
.see-more-btn:hover{
  color: white;
  background: #04A777;
}
#contact{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#contact h2{
  width: 100%;
}
#contact a{
  padding: 0px 15px;
  font-size: 25px;
}
#contact a:hover{
  background: #04A777;
  color: white;
}
